<table width="100%" cellspacing="0" cellpadding="0" border="0"><tbody>
	<tr><td width="12%" valign="top"></td><td width="87%" valign="top"><p><b><span>{AuthorName}</span></b></p></td></tr>
	<tr>
	<td width="12%" valign="top"><p><span id="S4">{AuthorMark}</span></p></td>
	<td width="87%" valign="top"><p><span>
		{Title} : {TitleInformation} / {ResponsibilityInformation} ; последующие сведения об ответственности. -
		{EditionInformation} / первые сведения об ответственности, относящиеся к
		{EditionResponsibilityInformation} - {PlaceOfPublication} :
		{Publisher}, {PublishYear}. - {Capacity} : иллюстрации + {SupportingMaterials} - ({Title} : {TitleInformation}
		/ {ResponsibilityInformation}, {SeriesInformation}, {SeriesISSN} ; {SeriesVolumeNumber}. {Subseries} : сведения, относящиеся к заглавию подсерии
		/ первые сведения об ответственности, относящиеся к подсерии, {SubseriesISSN} ; номер выпуска подсерии).
	</span></p>
	<p><span>{ISBN}</span></p>
	<p><span>{Annotation}</span></p>
	<p><span>Предметные рубрики</span></p>
	<p align="right"><span>{UDC}</span></p>
	<p align="right"><span>{LBC}</span></p></td>
	</tr>
</tbody></table>